﻿@{
    ViewBag.Title = "Home Page";
}

<style>

    .slide_thumb3 {
        background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
        padding: 75px 50px;
    }

        .slide_thumb3 h1 {
            font-size: 65px;
            color: #fff;
            font-weight: bold;
        }

        .slide_thumb3 h3 {
            font-size: 22px;
            color: #fff;
        }

    .slider_area3 {
        background-color: #4d4d4d;
        background-image: url(../../Content/Fotos/cover.png);
        background-size: cover;
        color: #ffffff;
        box-shadow: 2px 2px 10px 0 rgba(0,0,0,.4);
    }
</style>

<div class="row slider_area3 ">
    <div class="col-lg-12">
        <div class="col-sm-12 col-md-7 col-xs-12 col-lg-5">
            <div class="slide_thumb3">
                <h1>Desafia os teus limites</h1>
                <h3>Faz um upgrade ao teu talento.</h3>
                <form>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn3" onclick="return false;">Ver Cursos</button>
                    </div>
                </form>
            </div>
        </div>












    </div>
</div>